# Java
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Spring Boot help file
HELP.md

# IDEs
## IntelliJ
.idea/
*.iml
*.iws
*.ipr

## VS Code
.vscode/

## STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build folders inside source (optional exclusions)
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/

# OS-specific files
.DS_Store
Thumbs.db

# Environment / Secrets / Misc
.env
*.log
*.jar
